<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1  class="display-4">Nikunj Patel</h1>
        <h3>Software Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//linkedin.com" target="_blank">
            <img src="linkedIn.png" width="32" height="32" class="rounded-square me-2">

        </a>

        <a href="//GitHub.com/CathRtic" target="_blank">
            <img src="GitHub.png" width="32" height="32" class="rounded-square me-2">

        </a>
    </div>
</div>
