<div class="container text-center">
    <button (click)="DownloadPDF()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>
    
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="IsWorkExperienceOpen">
                
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading (click)="IsWorkExperienceOpen = true">
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!IsWorkExperienceOpen" style="color:white;">></div>
                        <div *ngIf="IsWorkExperienceOpen" style="color:white;">v</div>
                    </div>
                    
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Back End Developer</h2>
                    <h3 class="text-primary">TSI</h3>
                    <ul>
                        <li>Developed secure RESTful APIs using Node.js, Express, and MySQL to manage user authentication,
                            parent-child profiles, and volunteer submissions, ensuring robust data integrity, privacy, front-end integration.</li>
                        <li>Collaborated on scalable back-end solutions using Laravel, leveraging advanced routing and Eloquent ORM to
                            optimize database queries and improve application performance.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Full Stack Developer</h2>
                    <h3 class="text-primary">ARPI Accounting</h3>
                    <ul>
                        <li>Developed a comprehensive financial management platform using React.js, Node.js, and MySQL to automate
                            financial reporting, tax calculations, and data synchronization.</li>
                        <li>Integrated QuickBooks via RESTful APIs to reduce manual entry errors by 40% and improve reporting efficiency.</li>
                        <li>Built interactive dashboards providing real-time financial insights to enable data-driven decision-making.</li>
                        <li>Optimized performance with Redis caching and secured data access with OAuth 2.0.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Front End Developer</h2>
                    <h3 class="text-primary">MLight</h3>
                    <ul>
                        <li>Developed a full-stack Progressive Web App (PWA) for MLight's gaming mice using Angular and Node.js withExpress</li>
                        <li>Integrated WebUSB API into the PWA to enable direct communication with the gaming mouse firmware,
                            allowing users to manage advanced features like DPI switching, macro programming, and dynamic RGB lighting
                            directly through their browser</li>
                        <li>Integrated firmware with the PWA and debugged embedded systems using STM32CubeIDE, ensuring seamless
                            hardware-software interaction.</li>
                        <li>Automated end-to-end testing of UI and firmware interactions using Selenium, verifying the stability of
                            WebUSB API integration and identifying performance issues during user workflows.</li>
                    </ul>
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Network Technician</h2>
                    <h3 class="text-primary">Bell Canada</h3>
                    <ul>
                        <li>Employed digital and physical tools to diagnose network issues effectively and determined optimal solutions</li>
                    </ul>
                </div>            
            </accordion-group>
            
            <accordion-group [(isOpen)]="IsEducationOpen">
                
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading (click)="IsEducationOpen = true">
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!IsEducationOpen" style="color:white;">></div>
                        <div *ngIf="IsEducationOpen" style="color:white;">v</div>
                    </div>
                    
                </button>
                
                <div style="text-align: left;">
                    <h2 class="mb-0">Bachelor's of Science in Computer Science</h2>
                    <h3 class="text-primary">University of Western Ontario</h3>
                    <ul>
                        <li>Gained solid understanding of algorithms, data structures, and object-oriented design principles.</li>
                        <li>Hands-on experience with version control, unit testing and project tools like Confluence, Bitbucket, Jira</li>
                        <li>Completed multiple projects employing the software development lifecycle designing, implementing and testing</li>
                    </ul>
                </div>            
            </accordion-group>
            
            <accordion-group [(isOpen)]="IsCertificationsOpen">
                
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading (click)="IsCertificationsOpen = true">
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certifications</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!IsCertificationsOpen" style="color:white;">></div>
                        <div *ngIf="IsCertificationsOpen" style="color:white;">v</div>
                    </div>
                    
                </button>
                
                <div style="text-align: left;">
                    <h3>Docker Foundations Professional Certificate</h3>
                    <ul>
                        <li>Obtained August 2024</li>
                    </ul>
                </div>            
            </accordion-group>
            
            <accordion-group [(isOpen)]="IsSkillsOpen">
                
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading (click)="IsSkillsOpen = true">
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!IsSkillsOpen" style="color:white;">></div>
                        <div *ngIf="IsSkillsOpen" style="color:white;">v</div>
                    </div>
                    
                </button>
                
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Programming Languages:</h3>
                        <ul>
                            <li>TypeScript</li>
                            <li>Python</li>
                            <li>Java</li>
                            <li>CSS</li>
                            <li>C</li>
                            <li>C++</li>
                            <li>SQL</li>
                            <li>php</li>

                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Angular</li>
                            <li>React</li>
                            <li>Node.JS</li>
                            <li>Pytorch</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Docker</li>
                            <li>Kubernetes</li>
                            <li>Linux</li>
                            <li>Atlassian: Jira, Confluence, Bitbucket</li>
                            <li>Agile Development</li>
                            <li>Shell Scripting</li>
                            <li>SEO</li>
                        </ul>
                    </div>
                </div>            
            </accordion-group>
        </accordion>
    </div>
    
</div>

